*{
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow-x: hidden;
}

.navbar{
    position: absolute;
    z-index: 2;
    display: flex;
    height: 70px;
    width: 100vw;
    background-color: rgb(27, 26, 26,0.08);
    border-bottom: 2px solid #ffb320;
}

.navbar-s1{
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-s2{
    width: 33.3%;
    height: 100%;
}

.navbar-s3{
    width: 33.3%;
    height: 100%;
    text-align: center;
}

.navbar-s2 ul{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px; 
}

.navbar-s2 ul li{
    list-style-type: none;
    width: 33.3%;
}

.navbar ul li a{
    display: block;
    height: 100%;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    color: #ffb320;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
}

.btn{
    height: 40px;
    width: 200px;
    background-color: #ffb320;
    border-width: 0px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    margin-top: 3px;
    transition: background-color 0.4s, color 0.4s,border 0.4s;
}

.btn:hover{
    background-color: transparent;
    color: #ffb320;
    border: 2px solid #ffb320;
}

.game-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0px 80px;
}

.game-card{
    background-color: aliceblue;
    height: auto;
    width: 300px;
    text-align: center;
    margin: 20px;
    box-shadow: 2px 5px 10px grey;
    transition: transform 0.5s;
}

.game-card:hover{
    transform: scale(1.04);
}

.game-card img{
    height: 250px;
    width: 300px;
}

.gc-content{
    padding: 15px;
}

.gc-content p{
    color: grey;
}

.head{
    text-align: center;
    margin: 50px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.tournament{
    background-image: url("Images/1011.jpg");
    background-size: cover;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.t-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    height: 300px;
    width: 500px;
    padding: 10px 20px;
    margin: 20px;
}

.t-card-content{
    color: rgb(190, 189, 189);
    padding: 10px 25px;
}

.t-card-content h4{
    color: #ffb320;
}

.footer{
    height: 250px;
    width: 100%;
    background-image: url("Images/black-banner-with-yellow-geometric-shapes_1017-32327.webp");
    background-size: cover;
    background-blend-mode:soft-light;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer a{
    color: white;
}

.footer li{
    list-style-type: none;
}

.footer-p1,.footer-p2{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.slideshow-img{
    height: 100vh;
    width: 100vw;
}

@media screen and (max-width: 1100px) {
    .tournament{
        flex-direction: column;
        height: auto;
    }

}

@media screen and (max-width : 1000px){
    .btn{
        display: none;
    }
    .navbar-s2{
        width: 100%;
    }
    .navbar-s1,.navbar-s3{
        display: none;
    }
}

@media screen and (max-width : 821px){
    .slideshow-img{
        height: 85%;
    }
}

@media screen and (max-width: 600px){
    .footer-p1{
        display: none;
    }
    .footer-p2{
        width: 100%;
    }
    .navbar ul li a{
        font-size: 15px;
    }
    .t-card{
        width: 95%;
    }
}

@media screen and (max-width: 500px) {
    .t-card{
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    .navbar{
        height: 60px;
    }
    .slideshow{
        height: 350px;
    }
    .slideshow-img{
        height: 350px;
        width: 100%;
    }
}